:root{
    --ash: #e9e9e9;
    --white: #ffffff;
    --dormblue: #0688d3;
    --darkcolor: #020202;
    --dormash: lightgrey;
    --dormorange: #f96b03;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(252, 250, 250);
}

.center-course-review-card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-r{
    position: fixed;
    background:  rgb(252, 250, 250);
    width: fit-content;
    height: 100vh;
    z-index: 9999;
    transform: scale(.7);
    display: none;
    top: 0rem;
    padding: 1rem;
}



.comment-cancel{
    color: #f96b03;
     margin-left: 1rem;
     margin-top: 2rem;
}

.cancle-comment-div{
    padding: .1rem;
    margin-top: 1rem;
}

.edit-menu-holder{
    position: relative;
    width: 100%;
    margin-left: auto;
    color: #333;
}

.edit-menu ul li{
    padding: .4rem;
    background: var(--dormblue);
    color: #eee;
    font-weight: 600;
    width: 4rem;
    transition: .1s linear;
}

.edit-menu ul li:hover{
    
    background: var(--dormorange);
}

.edit-menu{
    width: 4rem;
    padding: .3rem;
    height: auto;
    margin-left: auto;
    float: right;
    margin-top: 2rem;
    display: none;
}


.edit-menu:after {
    content: " ";
    position: absolute;
    right: .49rem;
    top: 1.9rem;
    border-top: none;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid var(--dormblue);
  }
  

.bi-three-dots-vertical{
    margin-left: auto;
    float: right;
    cursor: pointer;
}

.number-of-ups{
    margin-right: .3rem;
}

.number-of-downs{
    margin-right: .3rem;
}

.number-of-comments{
    margin-right: .3rem;
}

.most-searched-divv{
    width: 100%;  
    height: auto;
    background: var(--white);
    padding: .5rem;
    box-shadow: 0px 3px 3px #aaa;
    text-align: center;  
    z-index: 9;
    position: absolute;
    display: none;
    z-index: 999;
    margin-top: 4rem;
}

.comment-div
{
    width: 100vw;
    height: 90vh;
    position: fixed;
    z-index: 999999;
    display: none;
}

.emb-comment{
    width: 100vw;
    height: 100vh;
}

.most-searched-holder-div{
  margin-top: 10vh;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill,minmax(100px,1fr)); 
}

.most-searched-content{
    width: fit-content;
    height: auto;
    font-size: .8rem;
    margin-left: -1rem;
    background: #eee;
    padding: .5rem;
    border-radius: 1rem;
    transform: scale(.8);
}

.search-wrapper{
    z-index: 99;
    position: absolute;
}



.create-review-btn{
    margin-top: 13vh;
    border: none;
    padding: .6rem;
    background: var(--dormorange);
    color: var(--white);
    border-radius: 1rem;
    z-index: 99;
}




.card{
    width: 95%;
    height: fit-content;
    border-radius: .5rem;
    border: 1px solid var(--dormblue);
    padding: .4rem;
    margin-top: .5rem;
}

.review-div{
    margin-top: 1rem;
    width: 100%;
    height: auto;
}


.image-full-screen{
    position: fixed;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    top: 3rem;
    left: 0;
    background: #020202;
    z-index: 999999999999999999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-full-screen img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.profile-review-image{
    position: relative;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    border-radius: 50%;
}

.profile-review-image img {
    width: 100%;
    height: 100%;
}




.username-review{
    font-size: .8rem;
}

.tag{
    font-weight: bolder;
    margin-bottom: 1rem;
    color: var(--dormblue);
}

.post-image{
    width: 100%;
    height: 40vh;
    object-fit: cover;
    overflow: hidden;
}

.post-image img{
    width: 100%;
    height: 100%;
}

.review-body{
    font-size: .7rem;
    font-weight: lighter !important;
}

.reactions{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--dormblue);
}

.reactions ul{
    display: flex;
    gap: 2vw;
}
.bi-hash{
    color: var(--dormblue);
}



.reactions ul li{
    background: gray;
    text-align: center;
    border-radius: 2rem;
    width: 4rem;
    color: #ffffff;
    padding: .5rem;
}

.comments{
    width: 100%;
    height: auto;
    z-index: 99999;
   opacity: .9;
   margin-left: 0px;
   overflow-y: scroll;
   display: none;
  
}

.input-comment{
    height: auto;
    width: 100%;
    margin: 1rem 0px;
    background: transparent;
}

.input-comment input{
    border: 2px solid var(--dormblue);
    width: auto;
    padding: .5rem;
    background: transparent;
    outline: none;
}

.input-comment button{
    padding: .5rem;
    width: auto;
    border: none;
    outline: none;
    color: #eee;
    background: var(--dormblue);
}




.whiteback{
    overflow-x: hidden;
}


.comment-card{
    background: var(--dormash);
}

.white{
    width: 100vw;
    height: 100vh;
    position: absolute;
    padding: 0;
    background: var(--white);
    z-index: 99999;
    display: none;
   opacity: 1;
   display: flex;
   justify-content: center;
   align-items: center; 
   display: none; 
   margin-top: 0rem;
}

.post{
    width: 100%;
    height: 100vh;
    
}


.review-items{
    color: var(--dormblue);
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: .5rem;
}

.selecter{
    overflow: hidden;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.selecter i{
    position: absolute;
    z-index: 99;
}


.custom-file-input{
    transform: scale(3);
    z-index: 9999;
    opacity: 0;
     
}

.custom-file-input::before {
    content: '';
     cursor: pointer;
  }

.review-items ul{
    display: flex;
    gap: 2vw;
}

.review-items ul li{
    background: var(--dormblue);
    padding: .5rem;
    border-radius: 1rem;
    font-size: 1.5rem;
}

.input-wrapper-text-area-course-review{
    width: 100%;
    border: 2px solid var(--dormblue);
    height: auto;
    margin-top: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    padding: .4rem;
}

.input-wrapper-text-area-course-review textarea{
    border: none;
    outline: none;
}

.create-review-btn-holder{
width: 100%;
height: fit-content;
display: flex;
justify-content: center;
}

@media only screen and (min-width: 200px) and (max-width: 286px) {
    .most-searched-divv{
        width: 100%;
        height: auto;
        padding: .5rem;
        box-shadow: 0px 3px 3px #aaa;
        text-align: center;  
        z-index: 9;
        position: absolute;
        display: none;
       
    }

    
.reactions{
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--dormblue);
}

.reactions ul{
    display: flex;
    gap: 5vw;
}
.bi-hash{
    color: var(--dormblue);
}



.reactions ul li{
    background: gray;
    text-align: center;
    border-radius: 1rem;
    width: 2rem;
    color: #ffffff;
    padding: .3rem;
    font-size: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



}



@media only screen and  (max-width: 600px) {
   
.image-full-screen img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
}
 

@media only screen and (min-width: 285px) and (max-width: 380px) {
    .most-searched-divv{
        width: 100%;
        height: auto;
        padding: .5rem;
        box-shadow: 0px 3px 3px #aaa;
        text-align: center;  
        z-index: 9;
        position: absolute;
        display: none;
       
    } 

    .reactions ul{
        display: flex;
        gap: 7vw;
    }

    .reactions ul li{
        background: gray;
        text-align: center;
        border-radius: 1rem;
        width: 2.5rem;
        color: #ffffff;
        padding: .4rem;
        font-size: .9rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
 


@media only screen and (min-width: 381px) and (max-width: 414px) {
    .most-searched-divv{
        width: 100%;
        height: auto;
        padding: .5rem;
        box-shadow: 0px 3px 3px #aaa;
        text-align: center;  
        z-index: 9;
        position: absolute;
        display: none;
       
    }

    
.reactions{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--dormblue);
}

.reactions ul{
    display: flex;
    gap: 10vw;
}
.bi-hash{
    color: var(--dormblue);
}


.reactions ul li{
    background: gray;
    text-align: center;
    border-radius: 1rem;
    width: 2.5rem;
    color: #ffffff;
    padding: .4rem;
    font-size: .9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

}


@media only screen and (min-width: 415px) and (max-width: 600px){
    
    .most-searched-divv{
        width: 100%;
        height: auto;
        padding: .5rem;
        box-shadow: 0px 3px 3px #aaa;
        text-align: center;  
        z-index: 9;
        position: absolute;
        display: none;
       
    }
 }

@media only screen and (min-width: 601px) and (max-width: 850px) {
    .search-wrapper{
        display: none;
    }
    
    .most-searched-holder-div{
       margin-top: 1vh;
         display: grid;
         gap: 1rem;
         grid-template-columns: repeat(auto-fill,minmax(100px,1fr)); 
     }

}

@media only screen and (min-width: 701px) {
.image-full-screen{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    top: 4rem;
    left: 5rem;
    background: rgb(252, 250, 250);
    z-index: 999;
}


.image-full-screen img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}

}

@media only screen and (min-width: 851px) and (max-width: 950px) {
  
    .search-wrapper{
        display: none;
    }
    
    .most-searched-holder-div{
       margin-top: 1vh;
         display: grid;
         gap: 1rem;
         grid-template-columns: repeat(auto-fill,minmax(100px,1fr)); 
     }
}


@media only screen and (min-width: 951px) {
 .search-wrapper{
     display: none;
 }

 .card{
    width: 95%;
    height: fit-content;
    border-radius: .5rem;
    border: 1px solid var(--dormblue);
    padding: .4rem;
    margin-top: .5rem;
}

.review-div{
    margin-top: 1vh;
    display: grid;
    gap: 1rem;
    overflow-x: hidden;
    grid-template-columns: repeat(auto-fill,minmax(35%,1fr)); 
}




 
 .most-searched-holder-div{
    margin-top: 1vh;
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(auto-fill,minmax(100px,1fr)); 
  }
}
