:root{
    --ash: #e9e9e9;
    --white: #ffffff;
    --dormblue: #0688d3;
    --darkcolor: #020202;
    --dormash: lightgrey;
    --dormorange: #f96b03;
}

.tool-holder

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
 

*::-webkit-scrollbar {
    display: none;
  }

ul{
    list-style: none;
}

  .logo-login{
      width: 5rem;
      margin-bottom: 2rem;
      overflow: hidden;
  }

  .logo-login img{
      width: 100%;
  }

.top-div{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 3px  var(--dormash);
    background: var(--white);
    position: fixed;
    z-index: 99999;
}

.nav-bar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 100%;
    background: var(--dormblue);
    z-index: 99999;
}

.logo {
    width: 5rem;
    overflow: hidden;
    margin-left: 6rem;
}

.logo img{
    width: 100%;
}

.searchbar-for-menu{
    width: 60vw;
    border: 2px solid var(--dormash);
    margin-left: auto;
    padding: .4rem;
    border-radius: 1rem;
}

.icon-title{
    text-shadow: 0px 1px 2px #333;
    width: max-content;
    z-index: 999;
}

.active-nav-link{
    text-shadow: 0px 3px 4px #333;
     font-weight: 900;
    background: var(--dormorange);
    color: var(--white);
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-nav-link i{
    position: absolute;
}

.active-nav-link .icon-title{
    color: var(--dormorange);
    font-weight: 700;
    text-shadow: 0px 3px 3px #333;
    font-size: .7rem;
    width: max-content;
    z-index: 999;
    margin-top: 2.5rem;
    position: absolute;
}

.searchbar-for-menu input{
    width: 95%;
    border: none;
    outline: none;
    color: #555;
    background: transparent;
}

.searchbar-for-menu i{
    color: var(--dormash);
}

.nav-list{
    list-style: none;
    color: var(--white); 
    margin-top: -5rem;
}

.nav-list li {
    margin-top: 3rem;
}

.nav-link{
    text-decoration: none; 
    color: var(--white);
}


.active-nav-link{
    color: var(--dormorange);
    transform: scale(1.2);
}

.nav-link:hover{
    color: var(--dormorange);
}


.nav-list li i{
    text-align: center;
    font-size: 2rem;
}



.icon-title{
 font-size: .5rem;
 text-align: center;
 width: max-content;
 font-weight: 300;  
}

.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .5s linear;
    color: var(--white);
}

.nav-item:hover{
    color: var(--dormorange);
}

.bi-bell-fill{
    color: var(--dormblue);
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.2rem;
}


.bi-bell-fill::before{
    background: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.tippy-box[data-theme~='tomato'] {
    background-color: var(--dormblue);
    color: var(--white);
    margin-top: 1rem;
  padding: .3rem;
  }


  .page-content{
      padding-bottom: 2rem;
  }

  .tool-holder{
      height: auto;
      width: fit-content;
      z-index: 9999;
      margin-left: 89vw;
      position: fixed;
  }

  .tool-holder:hover{
    margin-right: 1rem;
   
  }

  .top-index{
      z-index: 99999;
  }

  .tools{
      margin-top: .5rem;
      background: var(--dormblue);
      width: 1rem;
      height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
      border-radius: 50%;
      padding: 1rem;
      color: var(--white);
      cursor: pointer;
      position: relative;
      transition: 1s;
  }

  .active-tool{
      background: var(--dormorange);
  }

  .tools:hover{
      background: var(--dormorange);
   
  }

.tool-holder .tools a{
    color: #ffffff;
    text-decoration: none;
}

@media only screen and (min-width: 200px) and (max-width: 286px) {

    .tool-holder{
        height: auto;
        width: fit-content;
        margin-left: 70vw;
        position: fixed;
    }

    


    .nav-bar{
        position: fixed;
        width: 100%;
        height: 4rem;
        background: var(--dormblue);
        margin-top: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .top-div{
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        box-shadow: 0px 2px 3px  var(--dormash);
        position: fixed;
    }

    .logo {
        width: 5rem;
        overflow: hidden;
        margin-left: 1rem;
    }

    .searchbar-for-menu{
        display: none;
    }

    .nav-list li {
        margin-top: 1rem;
    }
    
    .nav-list li i{
        text-align: center;
        font-size: 1rem;
    }

    .nav-list{
        list-style: none;
        color: var(--white);
        margin-top: -1rem;
        display: flex;
        gap: 2rem;
    }

    .icon-title{
        display: none;
    }

    
.page-content{
    width: 100%;
    margin-left:0;
    margin-top: 3rem;
    position: absolute;
    height: calc(100% - 6rem);
    overflow: scroll;
    margin-bottom: 9rem;
}


}



@media only screen and (min-width: 285px) and (max-width: 380px) {
    .tool-holder{
        height: auto;
        width: fit-content;
        margin-left: 90vw;
        position: fixed;
    }
 

    .page-content{

        width: 100%;
        margin-left:0;
        margin-top: 4rem;
        position: absolute;
        height: calc(100% - 7rem);
        overflow: scroll;
        margin-bottom: 9rem;
    }
    
    .nav-bar{
        position: fixed;
        width: 100%;
        height: 6rem;
        background: var(--dormblue);
        margin-top: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .top-div{
        width: 100%;
        height: 4rem;
        display: flex;
        align-items: center;
        box-shadow: 0px 2px 3px  var(--dormash);
        position: fixed;
    }

    .logo {
        width: 5rem;
        overflow: hidden;
        margin-left: 1rem;
    }

    .searchbar-for-menu{
        display: none;
    }

    .top-div-search{
        display: block;
    }

    .nav-list li {
        margin-top: .2rem;
    }
    
    .nav-list li i{
        text-align: center;
        font-size: 1.2rem;
    }

    .nav-list{
        list-style: none;
        color: var(--white); 
        margin-top: -3rem;
        display: flex;
        gap: 1.5rem;
    }

    .icon-title{
        display: block;
    }
}
 


@media only screen and (min-width: 381px) and (max-width: 414px) {
    .tool-holder{
        height: auto;
        width: fit-content;
        margin-left: 89vw;
        position: fixed;
    }


    .page-content{
        width: 100%;
        margin-left:0;
        margin-top: 4rem;
        position: absolute;
        height: calc(100% - 8rem);
        overflow: scroll;
        margin-bottom: 9rem;
    }
    

    .nav-bar{
        position: fixed;
        width: 100%;
        height: 5rem;
        background: var(--dormblue);
        margin-top: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .top-div{
        width: 100%;
        height: 4rem;
        display: flex;
        align-items: center;
        box-shadow: 0px 2px 3px  var(--dormash);
        position: fixed;
    }

    .logo {
        width: 5rem;
        overflow: hidden;
        margin-left: 1rem;
    }

    .searchbar-for-menu{
        display: none;
    }

    .nav-list li {
        margin-top: 1rem;
    }
    
    .nav-list li i{
        text-align: center;
        font-size: 1.5rem;
    }

    .nav-list{
        list-style: none;
        color: var(--white); 
        margin-top: -3rem;
        display: flex;
        gap: 2.1rem;
    }

    .icon-title{
        display: block;
    }
}


@media only screen and (min-width: 415px) and (max-width: 460px){
    .tool-holder{
        height: auto;
        width: fit-content;
        margin-left: 89vw;
        position: fixed;
    }

    .page-content{

        width: 100%;
        margin-left:0;
        margin-top: 4rem;
        position: absolute;
        height: calc(100% - 8rem);
        overflow: scroll;
        margin-bottom: 9rem;
    }
    

    .nav-bar{
        position: fixed;
        width: 100%;
        height: 5rem;
        background: var(--dormblue);
        margin-top: 80vh;
    }

    .top-div{
        width: 100%;
        height: 4rem;
        display: flex;
        align-items: center;
        box-shadow: 0px 2px 3px  var(--dormash);
        position: fixed;
    }

    .logo {
        width: 5rem;
        overflow: hidden;
        margin-left: 1rem;
    }

    .searchbar-for-menu{
        display: none;
    }

    .nav-list li {
        margin-top: 1rem;
    }
    
    .nav-list li i{
        text-align: center;
        font-size: 1.5rem;
    }

    .nav-list{
        list-style: none;
        color: var(--white); 
        margin-top: -1rem;
        display: flex;
        gap: 3.8rem;
    }

    .icon-title{
        display: block;
    } 

 }

 
@media only screen and (min-width: 461px) and (max-width: 600px){
    .tool-holder{
        height: auto;
        width: fit-content;
        margin-left: 89vw;
        position: fixed;
    }

    .page-content{

        width: 100%;
        margin-left:0;
        margin-top: 4rem;
        position: absolute;
        height: calc(100% - 8rem);
        overflow: scroll;
        margin-bottom: 9rem;
    }
    

    .nav-bar{
        position: fixed;
        width: 100%;
        height: 5rem;
        background: var(--dormblue);
        margin-top: 80vh;
    }

    .top-div{
        width: 100%;
        height: 4rem;
        display: flex;
        align-items: center;
        box-shadow: 0px 2px 3px  var(--dormash);
        position: fixed;
    }

    .logo {
        width: 5rem;
        overflow: hidden;
        margin-left: 1rem;
    }

    .searchbar-for-menu{
        display: none;
    }

    .nav-list li {
        margin-top: 1rem;
    }
    
    .nav-list li i{
        text-align: center;
        font-size: 1.5rem;
    }

    .nav-list{
        list-style: none;
        color: var(--white); 
        margin-top: -1rem;
        display: flex;
        gap: 2.5rem;
    }

    .icon-title{
        display: block;
    } 

 }


@media only screen and (min-width: 601px) and (max-width: 850px) {
    .accomodia{
        width: 90%;
        height: 100vh;
        margin-top: 80px;
        display: grid;
        gap: 6rem;
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr)); 
    }
    
    .top-div{
        width: 100%;
        height: 4rem;
        display: flex;
        align-items: center;
        box-shadow: 0px 2px 3px  var(--dormash);
        background: var(--white);
        position: fixed;
        z-index: 99999;
    }
  
    .page-content{

        width: 100%;
        margin-left:6rem;
        margin-top: 4rem;
        position: absolute;
        height: fit-content;
        padding: .3rem;
        overflow: scroll;
        margin-bottom: 9rem;
    }
    
.nav-list{
    list-style: none;
    color: var(--white); 
    margin-top: -10rem;
}

.nav-list li {
    margin-top: 5rem;
}

.nav-link{
    text-decoration: none;
    color: var(--white);
}


.nav-link:hover{
    color: var(--dormorange);
}


.nav-list li i{
    text-align: center;
    font-size: 2rem;
}



.icon-title{
 font-size: .5rem;
 text-align: center;       
}

.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .5s linear;
    color: var(--white);
}

.nav-item:hover{
    color: var(--dormorange);
}

.logo{
    margin-left: 7rem;
}

.nav-bar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 100%;
    background: var(--dormblue);
}

.searchbar-for-menu{
    width: 50vw;
    border: 2px solid var(--dormash);
    margin-left: auto;
    padding: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.searchbar-for-menu input{
    margin-left: .5re;
}

.top-div-search{
    display: none;
}

}



@media only screen and (min-width: 851px) and (max-width: 950px) {
  
    .page-content{

        width: 100%;
        margin-left:5.5rem;
        margin-top: 4rem;
        position: absolute;
        height: fit-content;
        padding: .3rem;
        overflow: scroll;
        margin-bottom: 9rem;
    }
    .top-div-search{
        display: none;
    }

    .nav-list{
        list-style: none;
        color: var(--white); 
        margin-top: -10rem;
    }
    
    .nav-list li {
        margin-top: 5rem;
    }
    
    .nav-link{
        text-decoration: none;
        color: var(--white);
    }
    
    
    .nav-link:hover{
        color: var(--dormorange);
    }
    
    
    .nav-list li i{
        text-align: center;
        font-size: 2rem;
    }
    
    
    
    .icon-title{
     font-size: .5rem;
     text-align: center;       
    }
    
    .nav-item{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: .5s linear;
        color: var(--white);
    }
    
    .nav-item:hover{
        color: var(--dormorange);
    } 

}


@media only screen and (min-width: 951px) {
  
    .page-content{

        width: calc(100% - 6rem);
        margin-left:5.5rem;
        margin-top: 4rem;
        position: absolute;
        height: fit-content;
        padding: .3rem;
        overflow: scroll;
        margin-bottom: 9rem;
    }

    .tool-holder{
        height: auto;
        width: fit-content;
        margin-left: 86vw;
        position: fixed;
    }


    
    .top-div-search{
        display: none;
    }

}    