:root {
    --ash: #e9e9e9;
    --white: #ffffff;
    --dormblue: #1597E2;
    --darkcolor: #020202;
    --dormash: lightgrey;
    --dormorange: #f96b03;
}

.flex-btn-btns {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
}



.fload-area-check {
    width: 100%;
    display: flex;
    align-items: center;
    padding: .5rem 0px;
}

.fload-area-check label {
    font-size: .9rem;
    font-weight: 700;
    width: 100%;
}

.sub {
    font-size: .7rem;
}


.security-level-holder {
    width: 100%;
    padding: .3rem;
    border: 2px solid var(--dormblue);
    border-radius: 5px;
    color: #555;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.security-level-holder select {
    width: 100%;
    outline: none;
    border: 2px solid var(--dormblue);
    color: #555;
    font-weight: 700;
}

.preview-holder {
    width: 5rem;
    height: 100%;
}

.preview-holder ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.preview-holder ul li div img {
    width: 3rem;
    height: 3rem;
}

.product-upload-btn-holder {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-upload-btn-holder button {
    border: none;
    outline: none;
    background: var(--dormblue);
    color: var(--white);
    border-radius: 5px;
    width: max-content;
    padding: .5rem 1rem;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.prodcut-info-box-1 {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.prodcut-info-box-1 input {
    width: 100%;
    padding: .3rem;
    border: 2px solid var(--dormblue);
    border-radius: 5px;
    outline: none;
}

.prodcut-info-box-1 textarea {
    width: 100%;
    padding: .3rem;
    border: 2px solid var(--dormblue);
    border-radius: 5px;
    outline: none;
}


.add-image {
    width: 10rem;
    height: 7rem;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.add-image input {
    background: var(--dormorange);
    transform: scale(10);
    opacity: 0;
    cursor: pointer;
    z-index: 99;
    -webkit-transform: scale(10);
    -moz-transform: scale(10);
    -ms-transform: scale(10);
    -o-transform: scale(10);
}

.product-upload-card {
    width: auto;
    height: auto;
    display: flex;
    gap: 1rem;
    border-radius: 10px;
    align-items: center;
    padding: .5rem;
}

.product-uploader {
    width: 100%;
    height: auto;
    overflow-y: scroll;
    padding: 1rem 10px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;

}

.product-uploader-holder {
    width: 60vw;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    z-index: 999;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.dark-bg {
    width: 100%;
    position: fixed;
    height: 100%;
    background: var(--darkcolor);
    z-index: 9;
    opacity: .9;
    top: 0;
    left: 0;
}

/* 
.fixed-bg{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    left: 0;
    top: 0;
} */

.add-product-btn {
    position: fixed;
    bottom: 1rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    display: grid;
    place-items: center;
    left: 1rem;
    font-size: 2rem;
    border-radius: 50%;
    border: none;
    color: var(--white);
    font-weight: 900;
    z-index: 9;
    background: var(--dormorange);
    outline: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.fullagentscreen {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.mangeproductdiv {
    width: 100%;
}


.mainscreendata {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.alterscreen {
    width: 100%;
    margin-left: 2rem;
    height: auto;
    overflow-y: scroll;
}

.mainscreen-section-1 {
    display: flex;
    flex-direction: column;
}

.mainscreen-section-2 {
    width: 100%;
    height: auto;
    overflow: visible;
}


.agent-screen-right {
    width: 100%;
    height: auto;
}

.chart-holder {
    width: 100%;
    height: auto;
    margin-top: 2rem;
}

.mainscreen-topcard-holder {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2rem;
    margin-top: 1rem;
    height: auto;
}


.mainscreen-topcard {
    min-width: 12rem;
    height: auto;
    padding: .5rem;
    display: flex;
    gap: .5rem;
    align-items: center;
    box-shadow: 0px 0px .2rem #e9e9e9;
    background: var(--ash);
}

.mainscreen-topcard-box {
    width: 2rem;
    height: 2rem;
    display: grid;
    padding: .2rem .3rem;
    border-radius: 5px;
    place-items: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.orange {
    background: var(--dormorange);
    color: var(--white);
}

.blue {
    background: var(--dormblue);
    color: var(--white);
}

.ash {
    background: var(--darkcolor);
    color: var(--ash);
}


.mainscreen-topcard-box ion-icon {
    color: var(--white);
}

.mainscreen-topcard-text {
    padding: 0rem;
    display: flex;
    flex-direction: column;
}

.mainscreen-topcard-text P:nth-child(1) {
    font-size: .6rem;
}



.mainscreen-topcard-text P:nth-child(2) {
    font-size: 1rem;
    color: #020202;
    font-weight: 1000;
}

.mainscreen-section-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.agent-screen-right {
    width: 100%;
}

.mainscreen-section-2 {
    width: 100%;
    padding: .5rem;
}

.transaction-card-holder {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    overflow: visible;
}

.transaction-card {
    padding: .5rem;
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.transaction-card-image {
    width: 6rem;
    height: 3rem;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.transaction-card-image img {
    width: 100%;
    height: 100%;
}

.transaction-card-product-image {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    border-radius: 1%;
    margin-left: auto;
    -webkit-border-radius: 1%;
    -moz-border-radius: 1%;
    -ms-border-radius: 1%;
    -o-border-radius: 1%;
}


.transaction-card-product-image img {
    width: 100%;
    height: 100%;
}

.transaction-card-data {
    width: max-content;
}

.transaction-card-data-product-name{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
    text-align: center;
}

.transaction-card-data p:nth-child(1) {
    font-size: .6rem;
    color: #555;
}


.transaction-card-data p:nth-child(2) {
    font-size: .8rem;
    color: var(--darkcolor);
    font-weight: 1000;
}

.green {
    background: green;
    color: var(--white);
}


.red {
    background: red;
    color: var(--white);
}

.transcation-card-status {
    width: 1.3rem;
    height: 1.1rem;
    padding: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-radius: 50%;
    margin-left: 4rem;
}

.inventory-card-holder {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: 2rem;
}

.boost-card-holder {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.boost-card {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px .2rem #e9e9e9;
    padding: .5rem;
    display: flex;
    align-items: center;
}

.inventory-card {
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: .5rem;
    display: flex;
    align-items: center;
    gap: 5vw;
    margin-left: -1rem;
}

.inventory-card p {
    font-size: .7rem;
    font-weight: 1000;
}


.inventory-card p:nth-child(1) {
    font-size: .6rem;
    font-weight: 1000;
    color: #555;
}

.inventory-card-image {
    width: 6rem;
    height: 4rem;
    overflow: hidden;
}

.inventory-card-image img {
    width: 100%;
    height: 100%;
}

.booster-card {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.booster-card p {
    font-size: .7rem;
    font-weight: 1000;
}


.booster-card p:nth-child(1) {
    font-size: .6rem;
    font-weight: 1000;
    color: #555;
}

.booster-card-image {
    width: 4rem;
    height: 4rem;
    overflow: hidden;
}

.booster-card-image img {
    width: 100%;
    height: 100%;
}

.upload-product {
    height: 7rem;
    height: 100%;
}


.remove-product {
    margin-top: 1rem;
    position: absolute;
    font-size: 1rem;
}

.remove-product button {
    border: none;
    background: var(--dormblue);
    color: var(--white);
    border-radius: 3px;
    padding: .3rem .5rem;
    cursor: pointer;
}


.add-image {
    background-image: url('../images/placeholder.jpg.opdownload');
      background-position: center;
      background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 600px) {

    .product-uploader {
        width: 100%;
        min-height: 100vh;
        overflow-y: scroll;
        padding: 1rem 10px;
        background: var(--white);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 0px;

    }

    .product-uploader-holder {
        width: 100vw;
        height: auto;
        position: absolute;
        overflow-y: scroll;
        z-index: 9999;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        top: 0;
    }

    .remove-product {
        margin-top: 1rem;
        position: absolute;
        font-size: 1rem;
    }

    .remove-product button {
        border: none;
        background: var(--dormblue);
        color: var(--white);
        border-radius: 3px;
        padding: .3rem .5rem;
    }



    .preview-holder {
        width: 100%;
        height: 5rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .preview-holder ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 1rem;
    }

    .preview-holder ul li div img {
        width: 3rem;
        height: 3rem;
    }

    h3 {
        font-size: .9rem;
        text-align: center;
    }

    .transaction-card-image {
        width: 3rem;
        height: 3rem;
        overflow: hidden;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }



    .inventory-card {
        width: 100vw;
        height: auto;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-left: 0rem;
    }

    .inventory-card p {
        font-size: .7rem;
        font-weight: 1000;
    }


    .inventory-card p:nth-child(1) {
        font-size: .6rem;
        font-weight: 1000;
        color: #555;
    }

    .inventory-card-image {
        width: 6rem;
        height: 4rem;
        overflow: hidden;
    }

    .inventory-card-image img {
        width: 100%;
        height: 100%;
    }

    .grider {
        display: grid;
        margin-top: 1rem;
        gap: 1.8rem;
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    }

    .mainscreen-section-2 {
        width: 100%;
        padding: 0rem;
        margin-left: -.4rem;
    }


    .boost-card-holder {
        width: 90%;
        height: auto;
        display: flex;
        gap: .5rem;
        flex-direction: column;
    }


    .boost-card {
        width: 100%;
        height: auto;
        box-shadow: 0px 0px .2rem #e9e9e9;
        padding: .5rem;
        display: flex;
        align-items: center;
    }

    .fullagentscreen {
        overflow-x: hidden;
    }

    .transcation-card-status {
        width: 1.3rem;
        height: 1.1rem;
        padding: .2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        border-radius: 50%;
        margin-left: 0;
    }


    .transaction-card-product-image {
        width: 3rem;
        height: 3rem;
        overflow: hidden;
        border-radius: 1%;
        margin-left: 0;
    }


    .fullagentscreen {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: scroll;
    }

    .mainscreendata {
        width: 100%;
        height: auto;
        overflow: visible !important;
    }

    .alterscreen {
        width: 100%;
        margin-left: 0rem;
        height: fit-content;
        overflow: scroll !important;
    }


    .mainscreen-topcard-holder {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 2rem;
        overflow-x: scroll;
        margin-top: 1rem;
        height: auto;
    }

    .chart-holder {
        width: 100%;
        height: auto;
        margin-top: 2rem;
    }

    h3 {
        margin-left: .6rem;
    }


    .transaction-card {
        padding: .5rem;
        width: 100%;
        height: auto;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        box-shadow: 0px 0px .2rem #e9e9e9;
    }

    .mainscreen-section-2 {
        width: 93%;
        padding: .5rem;
    }


    .inventory-card {
        width: 100%;
        height: auto;
        box-shadow: 0px 0px .2rem #e9e9e9;
        padding: .5rem;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .add-image {
        width: 4rem;
        height: 4rem;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }


    .prodcut-info-box-1 {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }


    .product-upload-btn-holder button {
        border: none;
        outline: none;
        background: var(--dormblue);
        color: var(--white);
        border-radius: 5px;
        width: 100%;
        padding: .5rem 1rem;
        cursor: pointer;
    }




    .product-upload-card {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 10px;
        align-items: center;
        padding: .5rem;
        box-shadow: none
    }



    .add-product-btn {
        position: fixed;
        bottom: 5rem;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        display: grid;
        place-items: center;
        left: 1rem;
        font-size: 2rem;
        border-radius: 50%;
        border: none;
        color: var(--white);
        font-weight: 900;
        z-index: 9;
        transform: scale(.7);
        background: var(--dormorange);
        outline: none;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
}




@media only screen and (max-width: 300px) {
    h3 {
        font-size: .9rem;
    }

    .boost-card-holder {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .fullagentscreen {
        overflow-x: hidden;
    }

    .transcation-card-status {
        width: 1.3rem;
        height: 1.1rem;
        padding: .2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        border-radius: 50%;
        margin-left: 0;
    }


    .transaction-card-product-image {
        width: 3rem;
        height: 3rem;
        overflow: hidden;
        border-radius: 1%;
        margin-left: 0;
    }


    .fullagentscreen {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        overflow: scroll;
    }

    .mainscreendata {
        width: 100%;
        height: auto;
        overflow: visible !important;
    }

    .alterscreen {
        width: 100%;
        margin-left: 0rem;
        height: fit-content;
        overflow: scroll !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    .mainscreen-topcard-holder {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 2rem;
        overflow-x: scroll;
        margin-top: 1rem;
        height: auto;
    }

    .chart-holder {
        width: 100%;
        height: auto;
        margin-top: 2rem;
    }

    h3 {
        margin-left: .6rem;
        text-align: center;
    }

    .transaction-card {
        padding: .5rem;
        width: 100%;
        height: auto;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        box-shadow: 0px 0px .2rem #e9e9e9;
    }

    .mainscreen-section-2 {
        width: 100%;
        padding: .5rem;
    }


    .inventory-card {
        padding: .5rem;
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin-left: 1rem;
    }
}



@media only screen and (max-width: 800px) {

    .product-uploader {
        width: 100vw !important;
        min-height: 100vh;
        overflow-y: scroll;
        padding: 1rem 10px;
        background: var(--white);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 0px;

    }

    .product-uploader-holder {
        width: 100vw;
        left: 0;
        height: auto;
        position: absolute;
        overflow-y: scroll;
        z-index: 9999;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        top: 0;

    }

    .product-upload-card {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 10px;
        align-items: center;
        padding: .5rem;
        box-shadow: none
    }


    .preview-holder {
        width: 100%;
        height: 5rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .preview-holder ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 1rem;
    }

    .preview-holder ul li div img {
        width: 3rem;
        height: 3rem;
    }


}
