:root{
    --ash: #e9e9e9;
    --white: #ffffff;
    --dormblue: #1597E2;
    --darkcolor: #020202;
    --dormash: lightgrey;
    --dormorange: #f96b03;
    --boxop: .8;
}

*{
    margin: 0;
    padding: 0;
}


body{
    background: rgb(252, 250, 250);
    font-family: 'Dosis', sans-serif;
font-family: 'Fredoka', sans-serif;
font-family: 'Hubballi', cursive;
font-family: 'Hurricane', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
}


.notification span:nth-child(2){
    background: var(--dormorange);
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .4rem;
    text-shadow: 0px 0px 0px transparent;
}

.notification{
    background: var(--dormblue);
    box-shadow: 0px .5px 2px #333;
    color: #eee;
    position:fixed;
    margin-left: auto;
    margin-top: -.1rem;
    width: fit-content;
    padding: .5rem;
    height: auto;
    font-size: .8rem;
    display: none; 
    transform: scale(.7);
    right: -2.5rem;
    

}

.notification:after {
    content: " ";
    position: absolute;
    right: .6rem;
    top: -.4rem;
    border-top: none;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid var(--dormblue);
   
  }

.notification ul li{
    display: flex;
    width: max-content;
}

.full-width{
    width: 100%;
    height: auto;
    position: fixed;
    margin-top: 3rem;
    z-index: 99999;
}

.pronounds{
    color: var(--white);
    font-weight: 600;
    margin: 0px .4rem;
    text-shadow: 0px 0px 0px transparent;
}

.hide{
    display: none;
}

.wider{
    width: 70vw;
}

.margintop{
    margin-top: 4rem;
    text-align: center;
}

.upload-button{
    background: var(--dormblue);
    padding: .8rem;
    border: none;
    color: #ffffff;
    border-radius: 1rem;
    width: 6rem;
    margin-top: 2rem;
}

.create-note-txt{
    font-size: 1rem;
}


.upload-note h3{
    font-size: 1rem;
    margin-bottom: 1rem;
}

.my-note-text{
    text-align: center;
    text-shadow: 0px 0px 0px transparent;
    color: #555;
}

.books{
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: repeat(auto-fill,minmax(4.2rem,1fr));
}

.most-searched{
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: repeat(auto-fill,minmax(8rem,1fr));
}

.searches{
    background: #eee;
    columns: #111;
    padding: 1rem;
    border-radius: 1rem;
}

.book p{
    font-weight: lighter;
    font-size: .6rem;
    color: #555;
    margin-top: .2rem;
    text-align: center;

}

.book-image{
    background-image: url("../images/pdf.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 5rem;
    height: 6rem;
    cursor: pointer;
    transition: .1s linear;
    transform: scale(.8);
}

.book-image:hover{
    border: 2px solid var(--dormorange);
    transform: scale(1);
}

.cartegories{
    width: 100%;
    height: auto;
    text-align: center;
  
}

.cartegories-holder{
    width: 100%;
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: repeat(auto-fill,minmax(160px,1fr));
    justify-content: center;
    align-items: center;
}


.cartegorie-card{
    width: 160px;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



.dark{
    width: 100%;
    height: 100%;
    background: #020202;
    opacity: .5;
}

.cartegorie-text{
    position: absolute;
    text-align: center;
    width: 100px;
    color: #fff;
    z-index: 999;
    padding: .5rem;
    font-weight: 100;
    margin-top: 3rem;
}

.tech{
    background-image: url("../images/tech.jpg");
     background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.philo{
    background-image: url("../images/philo.png");
     background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.gov{

        background-image: url("../images/gov.jpg");
         background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    
}


.socio{

    background-image: url("../images/socio.jpg");
     background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}


.ict{

    background-image: url("../images/ict.jpg");
     background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.mth{

    background-image: url("../images/mth.png");
     background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.note-type{
    width: 100%;
    min-height: 50vh;
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    justify-content: center;
    align-items: center;
}
.upload-note{
    width: 15rem;
    border-radius: .5rem;
    padding: 1rem;
    border: 2px solid var(--dormblue);
}

.create-note{
    cursor: pointer;
    font-weight: bolder;
    font-size: 1rem;
    width: fit-content;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    border-radius: 2rem;
    border: 2px solid var(--dormblue);
    background: var(--dormblue);
    color: #ffffff;
    transition: .5s linear;
}

.create-note i{
    color: #fff;
}

.create-note:hover{
    background: var(--dormorange);
    border: none;
}


.my-note{
    cursor: pointer;
    font-weight: bolder;
    font-size: 1rem;
    width: fit-content;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    border-radius: 2rem;
    border: 2px solid var(--dormblue);
    background: var(--dormblue);
    color: #ffffff;
    transition: .5s linear;
}

.my-note i{
    color: #fff;
}

.my-note:hover{
    background: var(--dormorange);
    border: none;
}



.input-wrapper-note-area{
    width: 80vw;
    height: 50vh;
    border: 2px solid var(--dormblue);
    border-radius: 2rem;
    margin-top: 1rem;
    overflow: hidden;
}

.note{
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    width: 100%;
    height: 100%;
    padding: 1rem;

}



.login-wrapper{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;  
}

.input-wrapper i{
    margin-right: .5rem;
}

.text-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
}

.box{
    background: #fff;
    width: 300px;
    height: auto;
    margin-left: 2vw;
    box-shadow: 0px 3px 5px #aaa;
    padding: 1rem;
    opacity: .99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image{
    width: 100vw;
    position: fixed;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.background-image img{
    width: 50%;
}

.login-form{
    opacity: 1;
}

.input-wrapper{
    display: flex;
    border: 2px solid #555;
    padding: .5rem;
    border-radius: 4rem;
    margin-top: 1rem; 
   
    transition: .1s linear; 
    height: fit-content;
}

.input-wrapper:hover{
    border: 2px solid var(--dormblue);
}


.input-wrapper input{
border: none;
outline: none;
background: #fff;
width: 90%;
height: fit-content;
padding: .2rem;
}


.input-wrapper-text-area{
    display: flex;
    border: 2px solid #555;
    padding: .5rem;
    border-radius: 1rem;
    margin-top: 1rem; 
    transition: .1s linear; 
    height: fit-content;
}

.input-wrapper-text-area textarea{
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    height: 50vh;
    padding: .4rem;
}




.forgot-password{
    font-size: .7rem;
    font-weight: bolder;
    margin-top: .5rem;
    cursor: pointer;
}

.login-btn{
    background: var(--dormblue);
    color: #ffffff;
    display: flex;
    justify-content: center;
    border: none;
    padding: .7rem;
    border-radius: 4rem;
    margin-top: 1rem; 
    transition: .5s linear; 

}

.login-btn button{
    width: 100%;
    background: var(--dormblue);
    border: none;
    outline: none;
    color: var(--white);
    font-size:1rem ;
    font-weight: bolder;
    cursor: pointer;
}

.login-btn:hover{
    background: var(--dormorange);
}

.create-new-account{
    font-size: .8rem;
    margin-top: 6rem;
    width: fit-content;

}

.create-new{
    font-weight: bolder;
    color: var(--dormblue);
    cursor: pointer;
}

.loadingscreen{
    width: 100%;
    height: 100%;
    background: var(--white);
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.ball{
    background: var(--dormblue);
}

.ball-2{
    background: var(--dormorange);
}
.ball-3{
    background: var(--darkcolor);
}
.ball-4{
    background: var(--white);
}
.ball-5{
    background: var(--ash);
}
a{
    text-decoration: none;
    font-weight: 700;
    color: var(--maincolor);
    cursor: pointer;
    font-size: 1.3rem;
}

.container-of-404{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.error-p-message{
    padding: 1rem;
}

.error-message{
    font-size: 5rem;
    color: var(--maincolor);
    font-weight: bolder;
    text-align: center;
    text-shadow: 0px 4px 5px #333;
}




.ball-animations{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;

}

.ball-1{
    margin-left: 80vw;
    margin-top: 1rem;  
 
    opacity: var(--boxop);
    animation: box 11s ease-in-out infinite alternate;

}

.ball-2{
    margin-left: 1vw;
   margin-top: 10rem; 
   
     opacity: var(--boxop);
    animation: box 12s ease-in-out infinite alternate;
}


.ball-3{
    margin-left: 50vw;
   margin-top: 1rem; 
  
    opacity: var(--boxop);
    animation: box 11s ease-in-out infinite alternate
}


.ball-4{
    margin-left: 30vw;
   margin-top: -10%; 
  
    opacity: var(--boxop);
    animation: box 14s ease-in-out infinite alternate;
}
.ball-5{
    margin-left: 20vw;
   margin-top: -5%; 
  
    opacity: var(--boxop);
    animation: box 18s ease-in-out infinite alternate;
}
.ball-6{
    margin-left: 90vw;
   margin-top: -20%; 
  
    opacity: var(--boxop);
    animation: box 16s ease-in-out infinite alternate;
}


.ball-7{
    margin-left: 40%;
   margin-top: -10rem; 
  
    opacity: var(--boxop);
    animation: box 14s ease-in-out infinite alternate;
}
.ball-8{
    margin-left: 10%;
   margin-top: -15rem; 
  
    opacity: var(--boxop);
    animation: box 15s ease-in-out infinite alternate;
}
.ball-9{
    margin-left: 70%;
   margin-top: -20rem; 
  
    opacity: var(--boxop);
    animation: box 10s ease-in-out infinite alternate;
}

.ball-10{
    margin-left: 9%;
   margin-top: -20rem; 
  
    opacity: var(--boxop);
    animation: box 14s ease-in-out infinite alternate;
}
.ball-11{
    margin-left: 13%;
   margin-top: 30%; 
  
    opacity: var(--boxop);
    animation: box 15s ease-in-out infinite alternate;
}
.ball-12{
    margin-left: 90%;
   margin-top: 0rem; 

    opacity: var(--boxop);
    animation: box 16s ease-in-out infinite alternate;
}

.ball-13{
    margin-left: 90%;
   margin-top: -20rem; 
  
    opacity: var(--boxop);
    animation: box 24s ease-in-out infinite alternate;
}
.ball-14{
    margin-left: 1%;
   margin-top: 66%; 
  
    opacity: var(--boxop);
    animation: box 10s ease-in-out infinite alternate;
}
.ball-15{
    margin-left: 60%;
   margin-top: 10rem; 

    opacity: var(--boxop);
    animation: box 10s ease-in-out infinite alternate;
}

.ball{
    width: 8rem;
    height: 8rem;
}
.ball-2{
    width: 3rem;
    height: 3rem;
}
.ball-3{
    width: 20rem;
    height: 20rem;
}
.ball-4{
    width: 5rem;
    height: 5rem;
}

.ball-5{
    width: 10rem;
    height: 10rem;
}
@keyframes box{
    0%{
        margin-top: -40vh;
        margin-left: 10vh;
        opacity: .8;
        background: var(--dormorange);

    }

    0%{
        margin-top: -40vh;
        opacity: .9;
        background: var(--dormblue);

    }
    20%{
        margin-top: 30vh;
        opacity: .8;
        background: var(--dormblue);

    }

    40%{
        margin-top: -40vh;
        opacity: .9;
        background: var(--dormorange);

    }

    60%{
        margin-top: 30vh;
        opacity: .8;
        background: var(--dormblue);

    }

    80%{
        margin-top:-40vh;
        opacity: .9;
        background: var(--dormblue);

    }

    100%{
       
        margin-top: 20vh;
        opacity: .8;
        background: var(--dormash);
       
    }
}


@keyframes dots{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}
.loading-screen{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: var(--maincolor);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    text-align: center;
}

.loading-text span:nth-child(1){
    animation: dots 1s ease-in-out infinite alternate;
    animation-delay: 1s;
}
.loading-text span:nth-child(2){
    animation: dots 1s ease-in-out infinite alternate;
    animation-delay: 2s;
}

.loading-text span:nth-child(3){
    animation: dots 1s ease-in-out infinite alternate;
    animation-delay: 3s;
}
.loading-text span:nth-child(4){
    animation: dots 1s ease-in-out infinite alternate;
    animation-delay: 4s;
}
.loading-text span:nth-child(5){
    animation: dots 1s ease-in-out infinite alternate;
    animation-delay: 5s;
}


.loading-image{
    height: 5rem;
    overflow: hidden;
}

.loading-image img{
    width: 100%;
    height: 100%;
}

.loading-text{
    text-shadow: 0px 0px 0px transparent;
    position: absolute;
}


.loading-text span{
font-size: 4rem;
line-height: .2rem;
font-weight: 31200;
}
.google-sign{
    margin-top: 1rem;
    display: flex;
    border: 2px solid #555;
    padding: .5rem;
    border-radius: 4rem;
    margin-top: 1rem; 
    border: 2px solid var(--dormorange);
    background: var(--dormorange);
    color: var(--white);
    cursor: pointer;
}


.bi-google{
    margin-right: 1rem;
}

.back-btn{ 
    border: none;
    width: 3rem;
    height: 3rem;
    background: var(--dormblue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    margin-top: 0rem;
    margin-left: 0rem;
    cursor: pointer;
    transition: .5s linear;
    
}

.back-btn:hover{
    background: var(--dormorange);
}
 
.bi-arrow-left{
    color: #ffffff;
    animation: arrowbop 5s alternate infinite ;
}

.signup-div{
    display: none;
}

.bi-x{
    color: #ffffff;
    padding: .5rem;
    font-size: 17px;
    cursor: pointer;
}

.holder{
    position: fixed;
    bottom: 5rem;
    right: .1rem;
    z-index: 999;
}



@media only screen and (min-width: 200px) and (max-width: 286px) {
    .box{
        background: #fff;
        width: 100%;
        height: auto;
        position: absolute;
        margin-left: 2vw;
        box-shadow: 0px 3px 5px #aaa;
        padding: 1rem;
        opacity: .92;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .signup-div{
        display: none;
    }

    .cartegories-holder{
        width: 100%;
        display: grid;
        gap: 1rem;
        padding: 1rem;
        grid-template-columns: repeat(auto-fill,minmax(110px,1fr));
        justify-content: center;
        align-items: center;
    }
      
    
    .cartegorie-card{
        width: 110px;
        height: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }




    .background-image{
        width: 100vw;
        position: fixed;
        z-index: -1;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    
    .background-image img{
        width: 100%;
    }


    .login-btn{
        background: var(--dormblue);
        color: #ffffff;
        display: flex;
        justify-content: center;
        border: none;
        padding: .7rem;
        border-radius: 4rem;
        z-index: 999;
        margin-top: 1rem; 
        transition: .5s linear; 
    
    }

    .back-btn{ 
        border: none;
        width: 3rem;
        height: 3rem;
        background: var(--dormblue);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: relative;
        margin-top: 1rem;
        margin-left: auto;
        cursor: pointer;
        transition: .5s linear;
    }

    .login-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;  
        }
    
        .need-help-message{
            background: var(--dormblue);
            color: #ffffff;
            padding: 1rem;
            cursor: pointer;
            margin-top: -17rem;
            width: 13rem;
            position: fixed;
        }
        
    .up-index{
        z-index: 99999;
        margin-top: 3rem;
    }

    .full-width{
        width: 100%;
        height: auto;
        position: fixed;
        margin-top: 2rem;
        z-index: 99999;
    }
}






@media only screen and (min-width: 285px) and (max-width: 600px) {
    .need-help-message{
        background: var(--dormblue);
        color: #ffffff;
        padding: 1rem;
        cursor: pointer;
        margin-top: -17rem;
        width: 13rem;
        position: fixed;
    }


    .full-width{
        width: 100%;
        height: auto;
        position: fixed;
        margin-top: 2rem;
        z-index: 99999;
    }

   
   
    .box{
        background: #fff;
        width: 100%;
        height: auto;
        position: absolute;
        margin-left: 2vw;
        box-shadow: 0px 3px 5px #aaa;
        padding: 1rem;
        opacity: .92;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .signup-div{
        display: none;
    }
    

    .background-image{
        width: 100vw;
        position: fixed;
        z-index: -1;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    
    .background-image img{
        width: 100%;
    }


    .login-btn{
        background: var(--dormblue);
        color: #ffffff;
        display: flex;
        justify-content: center;
        border: none;
        padding: .7rem;
        border-radius: 4rem;
        z-index: 999;
        margin-top: 1rem; 
        transition: .5s linear; 
    
    }

    .up-index{
        z-index: 99999;
        margin-top: 3rem;
    }
    .back-btn{ 
        border: none;
        width: 3rem;
        height: 3rem;
        background: var(--dormblue);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: relative;
        margin-top: 1rem;
        margin-left: auto;
        cursor: pointer;
        transition: .5s linear;
    }

    .login-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;  
        }
        
    
}


@media only screen and (min-width: 360px) and (max-width: 400px){
    
    .cartegories-holder{
        width: 100%;
        display: grid;
        gap: 1rem;
        padding: 1rem;
        grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
        justify-content: center;
        align-items: center;
    }
    
    
    .cartegorie-card{
        width: 150px;
        height: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    }



@media only screen and (min-width: 601px) and (max-width: 850px) {
    .need-help-message{
        background: var(--dormblue);
        color: #ffffff;
        padding: 1rem;
        cursor: pointer;
        margin-top: -20rem;
        width: 13rem;
        position: fixed;
    }
  
}




@media only screen and (min-width: 851px) and (max-width: 950px) {
    .need-help-message{
        background: var(--dormblue);
        color: #ffffff;
        padding: 1rem;
        cursor: pointer;
        margin-top: -20rem;
        width: 13rem;
        position: fixed;
    }

    .input-wrapper-text-area{
        width: 90vw;
    }
}




@media only screen and (min-width: 951px){
  
    .bot-container-2{
        position: absolute;
        display: flex;
        align-items: center;
        min-height: 100vh;
        margin-left: 1vw;
        margin-top: 10rem;
        z-index: 9999;
    }
    
    .robots {
        display: flex; 
        position: fixed;
        z-index: 9;
        transform: rotate(30deg);
        margin-left: -10rem;
      }


    .need-help-message{
        background: var(--dormblue);
        color: #ffffff;
        padding: 1rem;
        cursor: pointer;
        margin-top: -23rem;
        width: 13rem;
        position: fixed;
    }

    
    .input-wrapper-text-area{
        width: 90vw;
        padding: .4rem;
    }

    .input-wrapper-text-area input{
        width: 100%;
    }
}    

@keyframes arrowbop {
   0%{ 
       transform: translateX(10px);
   } 10%{
    transform: translateX(-10px);
} 20%{
    transform: translateX(10px);
} 30%{
    transform: translateX(-10px);
} 40%{
    transform: translateX(10px);
} 50%{
    transform: translateX(-10px);
} 60%{
    transform: translateX(10px);
} 70%{
    transform: translateX(-10px);
} 80%{
    transform: translateX(10px);
} 90%{
    transform: translateX(-10px);
}100%{
    transform: translateX(10px);
}
  }

  


  @media only screen and (min-width: 200px) and (max-width: 300px) {
        .holder{
        height: auto;
        width: fit-content;
      
    }

    .holder .tools{
        width: .3rem;
        height: .3rem;
       
    }

    .holder .tools i{
        font-size: .8rem;
    }
}

@media only screen and (min-width: 301px) and (max-width: 360px) {
        .holder{
        height: auto;
        width: fit-content;
        position: fixed;
    }

    .holder .tools{
        width: .3rem;
        height: .3rem;
    }

    .holder .tools i{
        font-size: .8rem;
    }
}

@media only screen and (min-width: 361px) and (max-width: 400px) {
  

        .holder{
        height: auto;
        width: fit-content;
        position: fixed;
    }


    
    .holder .tools{
        width: .3rem;
        height: .3rem;
    }

    .holder .tools i{
        font-size: .8rem;
    }
}

@media only screen and (min-width: 401px) and (max-width: 500px) {

        .holder{
        height: auto;
        width: fit-content;
      
        position: fixed;
    }

    
    .holder .tools{
        width: .3rem;
        height: .3rem;
    }

    .holder .tools i{
        font-size: .8rem;
    }
}



    @media only screen and (min-width: 501px) and (max-width: 550px) {

        .holder{
        height: auto;
        width: fit-content;
       
        position: fixed;
    }


}

@media only screen and (min-width: 551px) and (max-width: 600px) {


        .holder{
        height: auto;
        width: fit-content;
       
        position: fixed;
    }
}



    
@media only screen and (min-width: 951px) {
    .holder{
        height: auto;
        width: fit-content;
       
        position: fixed;
    }
}
